/*Grid*/

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/*card*/

.product-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 0.9rem;
  color: #666;
}

/*Responsive*/

@media (max-width: 880px) {
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

/* barra de busqueda*/

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3 ease, box-shadow 0.3s ease;
}
.search-bar:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
  outline: none;
}

/*responsive*/

@media (max-width: 600px){
.search-bar {
  max-width: 100%;
}
}
